*{
    box-sizing: border-box;
    margin: 0px 0px;
    font-family: sans-serif;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    background-color: rgb(255, 0, 255);
}
.container{
    display: grid;
    grid-template-rows: repeat(3,100px);
    grid-template-columns: repeat(3,100px);
}
.box{
    position: relative;
    margin: 2px;
    border: none;
    border-radius: 5px;
    background-color: #00ffff;
    -webkit-box-shadow: 15px 11px 35px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 11px 35px -15px rgba(0,0,0,0.75);
    box-shadow: 15px 11px 35px -15px rgba(0,0,0,0.75);
}
.box:hover{
    background: rgb(0, 255, 55);
}
.cross{
    position: relative;
    border: 2px solid black;
    width: 100px;
}
.c1{
    top: 50%;  
    transform: rotate(45deg);
}
.c2{
    top: 45%;
    transform: rotate(135deg);
}
.circle{
    position: relative;
    margin: 0px 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    transition: transform linear 0.5s;
}
.btn{
    position: relative;
    top: 20px;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #00ffff;
    -webkit-box-shadow: 15px 11px 35px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 11px 35px -15px rgba(0,0,0,0.75);
    box-shadow: 15px 11px 35px -15px rgba(0,0,0,0.75);
    transition: all linear 0.2s;
}
.btn:hover{
    width: 150px;
    height: 60px;
}
.display{
    text-align: center;
    color: rgb(55, 54, 63);
    font-size: large;
    font-weight: 750;

    background-color: white;
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 15px 11px 35px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 15px 11px 35px -15px rgba(0,0,0,0.75);
    box-shadow: 15px 11px 35px -15px rgba(0,0,0,0.75);
}
.display>p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.line{
    border: 2px black solid;
    position: absolute;
    z-index: 1;
}
.rline{
    top: 50%;
    width: 95px;
    height: 1px;
}
.cline{
    top: 0px;
    left: 50%;
    width: 1px;
    height: 95px;
}
.mdiag{
    top: 50%;
    width: 100px;
    height: 1px;
    transform: rotate(45deg);
}
.sdiag{
    top: 0;
    left: 50%;
    width: 1px;
    height: 100px;
    transform: rotate(45deg);
}
